@import "../../variables.scss";

.hero {
  position: relative;
  height: 432px;
  width: 100%;
}

.hero__bg {
  background: url("../../assets/images/pexels-adrian-dorobantu-2300031.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 49;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000097;
  }
}

.hero__content {
  padding: 4rem 1rem;
  position: relative;
  z-index: 50;
  text-align: center;
  color: $text-color-light-2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.hero__title {
  font-family: $font-family-fancy;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 0;

  &--colored {
    color: $heading-color-light;
  }
}

.hero__description {
  font-size: 1.1rem;
  margin: 0;
}

.hero__actions {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  padding: 0.8rem 2rem;
  border: 1px solid $button-bg-color-light;
  border-radius: 0.5rem;
  position: relative;

  overflow: hidden;

  &__content {
    font-size: 0.9rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    z-index: 1;
  }

  &--primary {
    background-color: $button-bg-color-light;

    .btn__title,
    .btn__icon {
      color: $text-color-dark;
      transition: color 0.4s ease;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $button-bg-color-dark;
      z-index: 0;
      transition: width 0.4s ease-out;
    }

    &:hover {
      .btn__title,
      .btn__icon {
        color: $text-color-light;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }

  &--secondary {
    background-color: $button-bg-color-dark;

    .btn__title {
      color: $text-color-light-2;
    }

    .btn__icon {
      color: $primary-color-1;
    }

    .btn__title,
    .btn__icon {
      transition: color 0.4s ease;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $button-bg-color-light;
      z-index: 0;
      transition: width 0.4s ease-out;
    }

    &:hover .btn__title {
      color: $text-color-dark;
    }

    &:hover .btn__icon {
      color: $primary-color-2;
    }

    &:hover::after {
      width: 100%;
    }
  }
}
