@import "../../variables.scss";

.page-header {
  position: relative;
  width: 100%;
}

.page-header__bg {
  background-image: url("../../assets/images/pexels-adrian-dorobantu-2300031_COMPRESSED.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 49;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000097;
  }
}

.page-header__content {
  padding: 4rem 1.5rem;
  line-height: 1.5rem;
  position: relative;
  z-index: 50;
  text-align: center;
  color: $text-color-light-2;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.page-header__title {
  font-family: $font-family-fancy;
  font-size: 2.4rem;
  line-height: 2.6rem;
  margin: 1rem 0;

  &--colored {
    color: $heading-color-light;
  }
}

.page-header__description {
  font-size: 1.1rem;
  margin: 0;
}
