@import "../../variables.scss";
@import "../../mixins.scss";

.menu-list {
  display: grid;

  &--list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &--grid {
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    .menu-card {
      padding: 0.5rem;

      &__image {
        img {
          height: 70px;
        }

        .center-icon {
          width: 40px;
          height: 40px;
          font-size: 1.2rem;
          padding: 0.4rem;
        }
      }

      &__actions {
        height: 20px;

        & > * {
          flex: 1;
          height: 100%;
        }

        .button {
          font-size: 0.5rem;

          &__title {
            display: none;
          }

          &--add-to-cart {
            border-left: 1px solid #ad9601;
          }
        }
      }

      &__title {
        font-size: 0.8rem;
      }

      &__ingredients {
        display: none;
      }

      &__price {
        font-size: 1rem;
      }
    }
  }
}
