@import "../../variables.scss";
@import "../../mixins.scss";
@import "_button";

.link-btn {
  &__icon {
    font-size: 1.2rem;
  }

  &__title {
    font-size: 0.8rem;
  }

  &--primary {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $button-bg-color-dark;
      z-index: 0;
      transition: width 0.4s ease-out;
    }

    &:hover {
      .btn__title,
      .btn__icon {
        color: $text-color-light;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }

  &--secondary {
    background-color: $button-bg-color-dark;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: $button-bg-color-light;
      z-index: 0;
      transition: width 0.4s ease-out;
    }

    &:hover {
      .btn__title,
      .btn__icon {
        color: $text-color-dark;
      }
    }

    &:hover::after {
      width: 100%;
    }
  }
}
