@import "../../variables.scss";
@import "../../mixins.scss";

.section {
  padding: 1rem;

  &--base {
    background-color: $section-bg-color-dark;
  }

  &--colored {
    background-color: $section-bg-color-light;
  }

  &__header {
    text-align: center;
  }

  &__title-wrapper {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__icon {
    border: 1px solid $primary-color-2;
    width: 2em;
    height: 2em;
    margin: 0 auto;
    border-radius: 50%;
    color: $primary-color-1;
    background-color: $primary-color-2;
    @include align-center;
    font-size: 1.5rem;
  }

  &__title {
    font-family: $font-family-fancy;
  }

  &__description {
    line-height: 1.7rem;
  }
}
